<h1 class="cover-heading">Manage your movie.</h1>
<p class="lead cover-heading">Make your own movie collection and share to your frined.</p>
<p class="lead">
	<a href=<%= new_user_registration_path%> class="btn btn-lg btn-info">Register now</a>

</p>