<h1 class="cover-heading">Manage your movie.</h1>
<p class="lead">Make your own movie collection and share to your frined.</p>
<p class="lead">
	<a href="#" class="btn btn-lg btn-default">Register now</a>
</p>